
 <div data-test-product-show-name> {{t 'product.attrs.name'}} {{product.name}} </div>
  <div> {{t 'product.attrs.description'}} {{product.description}} </div>
  <div> {{t 'product.attrs.sku'}} {{product.sku}} </div>