
<div>
  {{#if currentUser.user }}
    {{#unless currentUser.user.isAdmin}}
    <h3>Dodaj do koszyka</h3>
    {{#paper-select
                label="Rozmiar"
                options=sizes
                selected=size
                onChange=(action (mut size))
                as |size|}}
                {{size}}
      {{/paper-select}}
    {{#paper-button  disabled=countEqualToOne onClick=(action 'decrementCount')}}
        -
      {{/paper-button}}
    {{paper-input type=number label="Ilość" value=count onChange=(action (mut count))}}
      {{#paper-button onClick=(action 'incrementCount')}}
        +
      {{/paper-button}}
    {{#paper-button onClick=(action 'addToCart') }}
      Dodaj 
    {{/paper-button}}
    {{/unless}}
  {{/if}}
</div>
<div class='product-show-header'>
  {{t 'product.attrs.name'}} 
  <div data-test-product-show-name class='product-show-attr'>
    {{model.name}} 
  </div>
</div>
<div class='product-show-header'> 
  {{t 'product.attrs.description'}}
  <div class='product-show-attr'> 
    {{model.description}} 
  </div>
</div>
<div class='product-show-header'>
  {{t 'product.attrs.sku'}}
  <div class='product-show-attr'>
    {{model.sku}} 
  </div>
</div>
<div class='product-show-header'>
  {{t 'product.attrs.price'}}
  <div class='product-show-attr'>
    {{concat model.price " " model.currency}} 
  </div>
</div>
<div class='product-show-header'>
  Płeć
  <div class='product-show-attr'>
    {{t (concat 'user.attrs.gender.' model.gender)}}
  </div>
</div>
<div class='product-show-header'>
  Kolor
  <div class='product-show-attr'>
    {{model.color}} 
  </div>
</div>
<div class='product-show-header'>
  Materiał
  <div class='product-show-attr'>
    {{model.material}} 
  </div>
</div>
<div class='product-show-header'>
</div>
