
<div>
  
  {{#paper-button  disabled=countEqualToOne}}
      -
    {{/paper-button}}
  {{paper-input type=number label="Ilość" value=count onChange=(action (mut count))}}
    {{#paper-button }}
      +
    {{/paper-button}}
  {{#paper-button   disabled=buttonDisabled}}
    Dodaj do koszyka
  {{/paper-button}}
</div>
<div class='product-show-header'>
  {{t 'product.attrs.name'}} 
  <div data-test-product-show-name class='product-show-attr'>
    {{model.name}} 
  </div>
</div>
<div class='product-show-header'> 
  {{t 'product.attrs.description'}}
  <div class='product-show-attr'> 
    {{model.description}} 
  </div>
</div>
<div class='product-show-header'>
  {{t 'product.attrs.sku'}}
  <div class='product-show-attr'>
    {{model.sku}} 
  </div>
</div>
{{!-- <div class='product-show-header'>
  {{t 'product.attrs.availability.name'}}
  <div class='product-show-attr'>
    {{ t (concat "product.attrs.availability." model.availability)}}
  </div>
</div> --}}
<div class='product-show-header'>
  {{t 'product.attrs.price'}}
  <div class='product-show-attr'>
    {{concat model.price " " model.currency}} 
  </div>
</div>
<div class='product-show-header'>
  Płeć
  <div class='product-show-attr'>
    {{concat model.price " " model.currency}} 
  </div>
</div>
{{!-- <div class='product-show-header'>
  {{t 'product.attrs.quantity'}}
  <div class='product-show-attr'>
    {{model.quantity}} 
  </div>
</div> --}}
 {{!-- 'user': {
    'attrs': {
      'firstName': 'First name',
      'lastName': 'Last name',
      'telephone': 'Description',
      'gender': {
        'female': 'Female',
        'male': 'Male',
        'name': 'Gender' --}}
<div class='product-show-header'>
  Płeć
  <div class='product-show-attr'>
    {{t (concat 'user.attrs.gender.' model.gender )}} 
  </div>
</div>
<div class='product-show-header'>
  Kolor
  <div class='product-show-attr'>
    {{model.color}} 
  </div>
</div>
<div class='product-show-header'>
  Materiał
  <div class='product-show-attr'>
    {{model.material}} 
  </div>
</div>
<div class='product-show-header'>
  {{!-- {{picture-list product=model inForm=false}} --}}
</div>
