{{#if inForm}}
  {{#paper-button onClick=(action (mut showDialog)) iconButton=true}}
    {{paper-icon "add" size=36}}
    {{#paper-tooltip}}
      {{t "default.create"}}    
    {{/paper-tooltip}}
  {{/paper-button}}

  {{#if showDialog}}
    {{#paper-dialog class="flex-25" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>{{t 'picture.newPageHeader'}}</h2>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        {{paper-input class="flex-100" label="Link to picture" type="text"
          value=pictureChangeset.url onChange=(action (mut pictureChangeset.url)) icon="link"}}
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button onClick=(action "closeDialog" "cancel")}}{{t 'default.cancel'}}{{/paper-button}}
        {{#paper-button onClick=(action 'create' product)}}{{t 'default.ok'}}{{/paper-button}}
      {{/paper-dialog-actions}}
    {{/paper-dialog}}
  {{/if}}
{{/if}}
