{{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Zamówienie nr {{model.id}}{{/text.headline}}
          {{#text.subhead}}
            z dnia {{moment-format model.createdAt 'DD-MM-YYYY HH:mm'}}
            {{paper-divider}}
            <p>Klient: {{user.firstName}} {{user.lastName}}</p>
            <p>Adres: {{user.addressLine1}}, {{user.addressLine2}}</p>
          {{/text.subhead}}
            {{paper-divider}}
            {{paper-divider}}
         {{/title.text}}
      {{/card.title}}
      {{!-- {{#paper-card}} --}}
      {{#paper-list}}
        {{#paper-subheader}}Produkty{{/paper-subheader}}
        {{#each model.orderLines as |orderLine|}}
          {{#paper-item class="md-3-line"}}
            <div class="md-list-item-text">
               <h3>{{orderLine.product.name}}</h3>
               <p>Ilość: {{orderLine.count}}</p>
               <p>Rozmiar: {{orderLine.size}}</p>
               <p>Cena: {{orderLine.product.price}}zł (za szt.)</p>
            </div>
          {{/paper-item}}
         {{paper-divider}}
        {{/each}}
      {{/paper-list}}
        {{!-- {{#each model.orderLines as |orderLine|}}
          <p>{{orderLine.product.name}}</p>
          <p>Ilość: {{orderLine.count}}</p>
          <p>Rozmiar: {{orderLine.size}}</p>
          <p>Ilość: {{orderLine.count}}</p>
        {{/each}} --}}
      {{!-- {{/paper-card}} --}}
    {{/paper-card}}