{{yield}}

{{input data-test-product-form-name value=product.name}}
{{textarea value=product.description}}
{{input type='number' value=product.sku}}

<button data-test-product-form-save-button {{action 'save'}}>Save</button>