{{yield}}
<h1 data-test-category-show-name> {{model.name}} </h1>  

<div> {{t 'category.categoryProducts'}}</div>
<ul  data-test-category-show-products>
  {{#each model.products as |product|}}
    {{product-thumb product=product class="thumb"}}
  {{/each}}
</ul>
{{#paper-button}}
  {{#link-to "categories.edit" model data-test-category-edit-link}} {{t 'default.edit'}} {{/link-to}}
{{/paper-button}}
{{#category-destroy category=model}} {{t 'default.remove'}} {{/category-destroy}}