{{yield}}
<h1> Koszyk </h1>  
{{#if sortedLines}}
  <h3> Produkty </h3>
    {{#each sortedLines as |orderLine|}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}} {{orderLine.product.name}}{{/text.headline}}
            {{#text.subhead}} {{orderLine.product.price}} zł{{/text.subhead}}
            {{#text.subhead }} W koszyku: {{ orderLine.count }}{{/text.subhead}}
          {{/title.text}}
        {{/card.title}}
        {{#card.actions}}
          {{#paper-button onClick=(action 'incrementCount' orderLine)}} Zwiększ {{/paper-button}}
          {{#paper-button onClick=(action 'decrementCount' orderLine)}} Zmniejsz {{/paper-button}}
          {{#paper-button onClick=(action 'removeOrderLine' orderLine)}}{{t 'default.remove'}}{{/paper-button}}
        {{/card.actions}}
      {{/paper-card}}
    {{/each}}

  <h3> Opcje dostawy </h3>  
  {{#paper-radio-group
    groupValue=(readonly selectedShippingOption)
    onChange=(action (mut selectedShippingOption)) as |group|}}
    {{#each shippingOptions as |option|}}
      {{#group.radio value=option.name primary=true}} {{option.name}} - {{option.value}} zł {{/group.radio}}
    {{/each}}
  {{/paper-radio-group}}
  <h4> Suma: {{totalWithShipping}} zł </h4>
  <h3> Do zapłaty (ze znizką): {{totalWithShippingAfterDiscount}} zł </h3>
  {{#paper-button raised=true disabled=orderCorrect onClick=(action 'saveTransferOrder')}} 
  Złóz zamówienie z obowiązkiem zapłaty przelewem {{/paper-button}}
 {{else}}

{{/if}}
