{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>{{t 'appName'}}</h2>
    <span class="flex"></span>
    {{#if session.isAuthenticated}}
      {{#if currentUser.user}}
        <p id='user-greeting'>
          {{t 'user.loggedIn'}}
          {{#link-to 'users.edit'}}
            {{currentUser.user.firstName}}
          {{/link-to}}
        </p>
      {{/if}}
    {{else}}
      {{#paper-button }}
        {{#link-to 'users.new'}} Zarejestruj się {{/link-to}}
      {{/paper-button}}
    {{/if}}
    {{#if session.isAuthenticated}}
      {{#if currentUser.user.isAdmin}}
        {{#paper-button }}
          {{#link-to 'admin.index'}} Panel administratora {{/link-to}}
        {{/paper-button}}
      {{/if}}
    {{/if}}
    {{#if session.isAuthenticated}}
     {{#unless currentUser.user.isAdmin}}
      {{!-- <div class='cartButton'>
        {{#link-to "checkout" data-test-checkout-link}}
          <div class="numberCircle">
            {{inCartCount}}
          </div>
           <div class="cartIcon">
            {{paper-icon "local-grocery-store" size=32}}
          </div>
        {{/link-to}}
      </div> --}}
        {{shopping-cart-indicator}}
      {{/unless}}
      {{#paper-button onClick=(action 'invalidateSession')}}
        {{t 'default.logout'}}
      {{/paper-button}}
    {{else}}
      {{#paper-button }}
        {{#link-to 'login'}} {{t 'default.login'}} {{/link-to}}
      {{/paper-button}}
    {{/if}}
    {{#paper-button}}
      {{link-to (t 'product.indexName') 'products' data-test-products-link}}
    {{/paper-button}}
    {{#paper-button}}
      {{link-to (t 'category.indexName') 'categories' data-test-categories-link}}
    {{/paper-button}}
    {{#if currentUser.user.userHasPreferences}}
      {{#unless currentUser.user.isAdmin}}
        {{#paper-button}}
          {{link-to 'Polecane produkty' 'preferred-products' currentUser.user.id}}
        {{/paper-button}}
      {{/unless}}
    {{/if}}
    {{#paper-button}}
      {{link-to 'Kontakt' 'messages.new'}}
    {{/paper-button}}
    {{!-- {{language-select}} --}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{application-toast}}
<div class="body-main">
  {{outlet}}
</div>
