{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>{{t 'appName'}}</h2>
    <span class="flex"></span>
    {{#if session.isAuthenticated}}
      {{#if currentUser.user}}
        <p id='user-greeting'>
          {{t 'user.loggedIn'}}
          {{#link-to 'users.edit' class='userName'}}
            {{currentUser.user.firstName}}
          {{/link-to}}
        </p>
      {{/if}}
    {{else}}
      {{#link-to 'users.new'}}
        {{#paper-button}} Zarejestruj się {{/paper-button}}
      {{/link-to}}
    {{/if}}
    {{#if session.isAuthenticated}}
      {{#if currentUser.user.isAdmin}}
        {{#link-to 'admin.index' }}
          {{#paper-button raised=true primary=true}} Panel administratora {{/paper-button}}
        {{/link-to}}
      {{/if}}
    {{/if}}
    {{#if session.isAuthenticated}}
     {{#unless currentUser.user.isAdmin}}
        {{shopping-cart-indicator}}
      {{/unless}}
      {{#paper-button onClick=(action 'invalidateSession')}}
        {{t 'default.logout'}}
      {{/paper-button}}
    {{else}}
      {{#link-to 'login'}}
        {{#paper-button }} {{t 'default.login'}} {{/paper-button}} 
      {{/link-to}}
    {{/if}}
      {{!-- {{#link-to 'login'}}
        {{#paper-button }} {{t 'default.login'}} {{/paper-button}} 
      {{/link-to}} --}}
    {{#link-to 'products'}}
      {{#paper-button}} Produkty{{/paper-button}} 
    {{/link-to}}
    {{#link-to 'categories'}}
      {{#paper-button}} Kategorie {{/paper-button}} 
    {{/link-to}}
    {{#if currentUser.user.userHasPreferences}}
      {{#unless currentUser.user.isAdmin}}
        {{#link-to 'preferred-products' currentUser.user.id}}
          {{#paper-button}} Polecane produkty {{/paper-button}} 
         {{/link-to}}
      {{/unless}}
    {{/if}}
    {{#link-to 'messages.new'}}
      {{#paper-button}} Kontakt {{/paper-button}} 
    {{/link-to}}
    {{!-- {{language-select}} --}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{application-toast}}
<div class="body-main">
  {{outlet}}
</div>
